.vpc-spotimbed-embed {
  border-radius: 4px;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 80px auto 32px;
  grid-template-areas: 'art info' 'content content' 'controls controls';
  width: 400px;
  user-select: none;
}

.vpc-spotimbed-art-wrap {
  grid-area: art;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 80px;
  width: 80px;
}

.vpc-spotimbed-art {
  border-radius: 4px 0 0 0;
  width: 80px;
}
.vpc-spotimbed-art-default {
  background: var(--background-secondary-alt);
  color: inherit;
  height: 40px;
  width: 40px;
  padding: 20px;
}

.vpc-spotimbed-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.vpc-spotimbed-info {
  grid-area: info;
  justify-content: space-evenly;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 6px 10px;
  height: 80px;
  overflow: hidden;
}

.vpc-spotimbed-info > div {
  font-size: 95%;
  margin-top: -4px;
}
.vpc-spotimbed-embed .vpc-spotimbed-link {
  color: inherit;
}
.vpc-spotimbed-embed .vpc-spotimbed-link:hover {
  text-decoration: underline;
}
.vpc-spotimbed-embed .vpc-spotimbed-placeholder {
  animation: 1s ease infinite alternate vpc-placeholder;
  background-color: var(--text-normal);
  border-radius: 9999px;
  color: transparent;
  font-size: 20%;
  padding-right: 100px;
}

.vpc-spotimbed-trackline {
  align-items: center;
}
.vpc-spotimbed-track-title {
  flex: 1;
  font-weight: bold;
  color: var(--vpc-spotimbed-title);
}
.vpc-spotimbed-track-length {
  background-color: rgba(0, 0, 0, .6);
  border-radius: 4px;
  font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
  font-size: 75%;
  margin-left: 16px;
  padding: 3px 6px;
}
.vpc-spotimbed-trackline, .vpc-spotimbed-track-artists-wrap, .vpc-spotimbed-track-album-wrap {
  display: flex;
  white-space: pre;
}
.vpc-spotimbed-track-title, .vpc-spotimbed-track-artists, .vpc-spotimbed-track-album {
  overflow: hidden;
  text-overflow: ellipsis;
}

.vpc-spotimbed-controls {
  background-color: rgba(0, 0, 0, .6);
  border-radius: 0 0 4px 4px;
  grid-area: controls;
  position: relative;
}
.vpc-spotimbed-media-player {
  color: var(--text-normal);
  position: absolute;
  bottom: 0;
}
.vpc-spotimbed-controls [class*="audioMetadata"] {
  display: none;
}
.vpc-spotimbed-controls [class*="audioControls"] {
  background-color: transparent;
  border-radius: 0 0 4px 4px;
}

@keyframes vpc-placeholder {
  0% { opacity: .1 }
  10% { opacity: .1 }
  100% { opacity: .05 }
}
