.vpc-spotimbed-embed {
  border-radius: 4px;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 80px auto 32px;
  grid-template-areas: 'art info' 'content content' 'controls controls';
  width: 400px;
  user-select: none;
}

.vpc-spotimbed-art-wrap {
  grid-area: art;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 4px 0 0 0;
  height: 80px;
  width: 80px;
  overflow: hidden;
}

.vpc-spotimbed-art {
  width: 80px;
}
.vpc-spotimbed-art-default {
  background: var(--background-secondary-alt);
  color: inherit;
  height: 40px;
  width: 40px;
  padding: 20px;
}

/* descender cut-off fix: https://stackoverflow.com/a/64039674 */
.vpc-spotimbed-title,
.vpc-spotimbed-infoline,
.vpc-spotimbed-infoline-secondary {
  padding-bottom: 0.14em;
}

.vpc-spotimbed-info {
  grid-area: info;
  justify-content: space-evenly;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 6px 10px;
  height: 80px;
  font-size: 95%;
  overflow: hidden;
}

.vpc-spotimbed-embed .vpc-spotimbed-link {
  color: inherit;
}
.vpc-spotimbed-embed .vpc-spotimbed-link:hover {
  text-decoration: underline;
}
.vpc-spotimbed-info .vpc-spotimbed-placeholder {
  background-color: var(--text-normal);
  border-radius: 9999px;
  color: transparent;
  font-size: 20%;
  padding-right: 100px;
}

.vpc-spotimbed-titleline {
  align-items: center;
  font-weight: bold;
}
.vpc-spotimbed-title {
  flex: 1;
  color: var(--vpc-spotimbed-title);
}
.vpc-spotimbed-mono {
  font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
}
.vpc-spotimbed-title-tag {
  background-color: rgba(0, 0, 0, .6);
  border-radius: 4px;
  color: rgba(255, 255, 255, .8);
  font-size: 75%;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 16px;
  padding: 3px 6px;
}
.vpc-spotimbed-titleline, .vpc-spotimbed-infoline-wrap {
  display: flex;
  white-space: pre;
}
.vpc-spotimbed-title, .vpc-spotimbed-infoline {
  overflow: hidden;
  text-overflow: ellipsis;
}
.vpc-spotimbed-infoline-secondary {
  font-size: 90%;
}

.vpc-spotimbed-content {
  grid-area: content;
  background-color: rgba(0, 0, 0, .12);
}
.vpc-spotimbed-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .2);
}

.vpc-spotimbed-tracklist {
  height: 200px;
  overflow-y: auto;
}
.vpc-spotimbed-trackrow {
  align-items: center;
  display: flex;
  height: 40px;
}
.vpc-spotimbed-trackrow:hover {
  background-color: rgba(255, 255, 255, .1);
}
.vpc-spotimbed-trackrow.vpc-spotimbed-active {
  background-color: rgba(255, 255, 255, .3);
  color: #fff;
}
.vpc-spotimbed-trackrow:not(.vpc-spotimbed-active) {
  cursor: pointer;
}
.vpc-spotimbed-trackrow-index {
  margin: 0 10px;
  width: 20px;
  text-align: right;
}
.vpc-spotimbed-trackrow-length {
  margin: 0 16px 0 10px;
  font-size: 90%;
}
.vpc-spotimbed-trackrow-info {
  flex: 1;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vpc-spotimbed-trackrow-title {
  font-weight: 600;
}
.vpc-spotimbed-trackrow-infoline {

}

.vpc-spotimbed-controls {
  background-color: rgba(0, 0, 0, .6);
  border-radius: 0 0 4px 4px;
  color: #fff;
  grid-area: controls;
  position: relative;
}
.vpc-spotimbed-media-player {
  position: absolute;
  bottom: 0;
}
.vpc-spotimbed-controls [class*="audioMetadata"] {
  display: none;
}
.vpc-spotimbed-controls [class*="audioControls"] {
  background-color: transparent;
  border-radius: 0 0 4px 4px;
}
.vpc-spotimbed-controls .vpc-spotimbed-placeholder-wrap {
  align-items: center;
  display: flex;
  height: 100%;
}
.vpc-spotimbed-controls .vpc-spotimbed-placeholder {
  background: var(--text-normal);
  border-radius: 9999px;
  width: 66px;
  height: 6px;
  opacity: 1;
}
.vpc-spotimbed-controls .vpc-spotimbed-placeholder-scrubber {
  height: 8px;
  flex: 1;
  margin-left: 8px;
  opacity: 0.5;
}
.vpc-spotimbed-controls .vpc-spotimbed-placeholder-btn {
  width: 16px;
  height: 16px;
  margin: 0 8px;
}

.vpc-spotimbed-unsupported {
  background: var(--background-secondary);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--text-normal);
  text-align: center;
  line-height: 125%;
  user-select: none;
  padding: 6px 10px;
  width: 400px;
}

.vpc-spotimbed-controls .vpc-spotimbed-placeholder-wrap,
.vpc-spotimbed-info .vpc-spotimbed-placeholder {
  animation: 1s ease infinite alternate vpc-spotimbed-placeholder;
}
@keyframes vpc-spotimbed-placeholder {
  0% { opacity: .1 }
  10% { opacity: .1 }
  100% { opacity: .05 }
}
